body {
	margin:0px 0px 0px 0px;
	background-image:url('../images/bg1.jpg');
}

.text{
	color:yellow;
	letter-spacing:5px;
}
.zhuyetext{
	color:black;
	letter-spacing:5px;
}
a{
	color:red;
}
h1{
	color:white;
}
.tabletitle{
	color:orange;
	font-size:25px;
	font-weight:bold;
}
table{
	border:0px;
	border-spacing:10;
	width:100%;
	color:white;
	font-size:16px;
}
.add{
	margin:80px 0px;
}
